---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Home">
    <div class="header-container">
        <div class="title-section">
            <h1>José Luiz Nunes</h1>
            <p class="lead">PhD Candidate, Department of Informatics — PUC‑Rio · Researcher, Center for Technology and
                Society — FGV Direito Rio</p>
        </div>
        <div class="profile-image">
            <img src="/images/IMG_1657.jpeg" alt="A profile picture at Yosemite Tunnel View" />
        </div>
    </div>

    <h2>About Me</h2>
    <p>
        Hi, I'm José Luiz! I am an academic researcher working on Human-Centered Computing. My research primarily
        explores the intersection of machine learning and ethics, often looking at machine behavior. I am also
        interested
        in quantitative studies in law, especially about institutions and legal cognition.
    </p>
    <p>
        Currently, I am pursuing my PhD in the Department of Informatics at the Pontifical Catholic
        University of Rio de Janeiro (PUC-Rio), where I am advised by Prof.
        <a href="https://www-di.inf.puc-rio.br/~simone/" target="_blank" rel="noopener noreferrer">Simone Barbosa</a>.
        I am also a researcher at the Center for Technology and Society at FGV Direito Rio.
    </p>
    <p>
        As part of my PhD research, I was a visiting researcher at the
        <a href="https://cicl.stanford.edu/" target="_blank" rel="noopener noreferrer">Causality in Cognition Lab
            (CiCL)</a>,
        led by Prof.
        <a href="https://cicl.stanford.edu/member/tobias_gerstenberg/" target="_blank" rel="noopener noreferrer">Tobias
            Gerstenberg</a> with a scholarship from Brazil's academic funding agency.
    </p>
    <p>
        You can view my <a href="/publications/">Publications</a>, course materials, and download my <a
            href="/cv/">CV</a>.
    </p>

    <h2>Research Interests</h2>
    <ul>
        <li>Ethics of machine learning</li>
        <li>Machine psychology and AI models behaviour</li>
        <li>Empirical legal studies and precedent analysis</li>
        <li>Moral evaluation of LLMs</li>
    </ul>

    <h2>Teaching</h2>
    <p>I teach undergraduate courses at FGV Direito Rio:</p>
    <ul>
        <li>Programming for Lawyers</li>
        <li>Legal Data Science</li>
    </ul>

    <h2>Contact</h2>
    <ul>
        <li>Email: jose.luiz at fgv.br OR jnunes at inf.puc-rio.br</li>
        <li>Social: <a href="https://bsky.app/profile/joseluiz.bsky.social">Bluesky</a></li>
    </ul>
</BaseLayout>